@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/Brandon_reg.otf);
    font-weight: normal;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/Brandon_med.otf);
    font-weight: medium;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/Brandon_bld.otf);
    font-weight: bold;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/brandon-grotesque-regular-italic.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/brandon-grotesque-black.otf);
    font-weight: bold;
    font-style: black;
}

* {
    box-sizing: border-box;
    font-family: "Brandon Grotesque";
}

h1, h2, h3 {
    margin: 0;
    margin-bottom: 1em;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
}

.hero {
    background-image: url(./assets/gimnasia_1.png);
    background-size: 140%;
    background-position: -20rem -12rem;
    height: 470px;
    padding: 3rem 40rem 0 6rem;
}

.main-title {
    color: #032937;
    font-size: 5rem;
    font-weight: black;
    line-height: 5rem;
}

/*  */

.text-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text-box > * {
    flex: 1;
}

.main-content {
    flex-grow: 1;
    padding: 6rem;
}

.box-aside {
    background-image: url(./assets/gota_1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
    background: rgb(0,130,203);
    background: linear-gradient(90deg, rgba(28,162,226,1) 0%, rgba(55,99,237,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #87868C;
}

.second-box {
    flex-grow: 1;
}

.square-box {
    width: 23rem;
    height: 20rem;
    padding: 2.5rem 1.8rem;
    background: white;
    border-radius: 3rem;
    box-shadow: -7px 7px 13px rgba(0,0,0,.15);
    text-align: center;
}

.square-box .box-text {
    margin: 0;
    font-size: 2.1rem;
    line-height: 2.1rem;
    color: #335BDA;
}

.gradient {
    background: rgb(0,130,203);
    background: linear-gradient(90deg, rgba(115,38,254,1) 0%, rgba(255,106,57,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
}

/* .gradient::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #B101D6, #FF297D, #FE663E);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
} */


.subtitle-2 {
    width: 17%;
    margin: 2em;
    border: solid 1px black;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}


.number-subtitle {
    position: absolute;
    border: 2px solid;
    border-radius: 50%;
    background: linear-gradient(to right, #2198E5, #3173EA, #336FEB);
    color: white;
    margin-left: 272px;
    width: 50px;
    text-align: center;
    margin-top: 0;
}

.buttons-box {
    display: flex;
    flex-direction: column;
}

.buttons-2,
.buttons-1 {
    flex-grow: 2;
    margin: 50px 100px;
    padding-left: 129px;
}

.gradient-1,
.gradient-2,
.gradient-3 {
    color: white;
    width: 170px;
    height: 170px;
    border-radius: 15px;
    text-align: center;
}

.gradient-1 {
    background: linear-gradient(to right, #AB01DB, #B501D5, #BB01D1);
    margin-left: 50px;
}

.gradient-2 {
    background: linear-gradient(to right, #BB01D1, #DF01B8, #F601A8);
    margin: 0 157px;
}

.gradient-3 {
    background: linear-gradient(to right, #F601A8, #FF1094, #FE1392);
    margin-right: 50px;
}