@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/Brandon_med.otf);
    font-weight: medium;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/brandon-grotesque-regular-italic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/brandon-grotesque-black.otf);
    font-weight: bold;
    font-style: black;
}

* {
    box-sizing: border-box;
    font-family: "Brandon Grotesque";
}

h1,
h2,
h3 {
    margin: 0;
    margin-bottom: 1em;
}

sub {
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem;
}

body {
    margin: 0;
    padding: 0;
}


.subtitle {
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5rem;
    text-transform: uppercase;

}

.subtitle2 {
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
    font-size: 58px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5rem;
    text-transform: uppercase;
}

.subtitle::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #2A81E8, #1E9BE3, #278AE7);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

.subtitle2::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #2A81E8, #1E9BE3, #278AE7);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

h3.sub {
    padding-left: 5rem;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #032937;
    text-transform: uppercase;
}

h3.sub2 {
    position: absolute;
   margin:  0rem 0rem -7rem 10rem;
}

.margin-sub {
    margin: 2rem;
}

.paragraph {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #87868C;
    font-weight: normal;
    padding-left: 5rem;
}

.center-vegetables {
    margin-top: 3rem;
    width: 49rem;
    height: 40rem;
    border-radius: 5rem;
}

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.color-border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, #086893, #1299E3, #04B7E5);
}

.color-border2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, #863D0A, #FE8632, #FB9209);
}

.color-border3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, #591F7A, #AB33D2, #B22EC2);
}


.color-border6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, #302775, #7A44E8, #7B45E9);
}



.bg-white {
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.color-inside {
    border: 8px solid #7F93FE;
}

.color-inside2 {
    border: 8px solid #FE730D;
}

.color-inside3 {
    border: 8px solid #9C40C8;
}

.color-inside4 {
    border: 8px solid #FE414A;
}

.color-inside6 {
    border: 8px solid #7448E8;
}


.general-small-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}

.small-circle {
    border: 5px solid #04B5E3;
}


.small-circle2 {
    border: 5px solid #7347E6;
}

.small-circle3 {
    border: 5px solid #B32EBE;
}

.small-circle4 {
    border: 5px solid #D31964;
}

.small-circle6 {
    border: 5px solid #FEAA00;
}

.content-two-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.text-center {
    text-align: center;
}

.btn-box {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    margin-right: 8rem;
}

.rounded-button {
    position: relative;
    padding: .7rem 1.7rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to right, #FFBA33, #FF8000);
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
}

.rounded-button:after {
    content: "";
    position: absolute;
    top: .2rem;
    left: .25rem;
    right: .25rem;
    bottom: .25rem;
    border: 1px solid white;
    border-radius: 2rem;
}

.gray-block {
    width: 100%;
    height: auto;
    background-color: #EFEFEF;
    text-align: center;
    padding: 3rem;
}

.gray-block .content {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.leucina-css {
    width: 60rem;
    padding-left: 2rem;
  
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-box {
    flex-grow: 1;
    padding: 2rem;
}

.flex-img {
    flex-grow: 1;
    padding: 2rem;
}

.proteinas-img {
    width: 38rem;
    height: auto;
}

.color-gray {
    color: rgb(175, 175, 175);
}

.space {
    display: flex;
    flex-direction: column;
}

.align-text {
    text-align: center;
    margin: 2rem;
    font-size: 100px;
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

.align-text::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #E200B5, #FE297B, #FE6340);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}