.hero {
    background-image: url(pareja.png);
    background-size: 100%;
    background-position: center;
    padding: 13rem 6rem 0 0;
}

.title {
    margin: 0;
}

.paragraph {
    font-size: 1.7rem;
    line-height: 1.9rem;
    color: #87868C;
    font-weight: lighter;
}

.box-aside {
    background: none;
    flex-direction: column;
    justify-content: space-between;
}

.box-aside img {
    display: block;
    width: 100%;
}

.rounded-button {
    position: relative;
    padding: .7rem 1.7rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to right, #FFBA33, #FF8000);
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
}

.rounded-button:after {
    content: "";
    position: absolute;
    top: .2rem;
    left: .25rem;
    right: .25rem;
    bottom: .25rem;
    border: 1px solid white;
    border-radius: 2rem;
}

.box-aside,
.box-aside-1 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gray-block {
    background-color: #EFEFEF;
    text-align: center;
    padding: 3rem;
}

.gray-block .content {
    justify-content: center;
    display: flex;
    flex-direction: row;
}


/* Estilos generales*/

@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/Brandon_med.otf);
    font-weight: medium;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/brandon-grotesque-regular-italic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(./assets/fonts/brandon-grotesque-black.otf);
    font-weight: bold;
    font-style: black;
}

* {
    box-sizing: border-box;
    font-family: "Brandon Grotesque";
}

h1,
h2,
h3 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
}

.hero {
    background-image: url(pareja.png);
    background-size: 118%;
    background-position: -10rem -22rem;
    height: 470px;
    padding-left: 4rem;
}

.main-title {
    color: #ffffff;
    font-size: 5rem;
    font-weight: black;
    line-height: 5rem;
    text-transform: uppercase;
}

.main-title-small {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: black;
    line-height: 5rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.text-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-box>* {
    flex: auto;
    flex: 1;
    flex-grow: 1;
    padding: 6rem;
}


.paragraph {
    font-size: 1.7rem;
    line-height: 1.9rem;
    color: #87868C;
    font-weight: lighter;
}

h3.subtitle {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #032937;
}

.subtitle1-1{
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #032937;
}


.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
    background: rgb(0, 130, 203);
    background: linear-gradient(90deg, rgba(28, 162, 226, 1) 0%, rgba(55, 99, 237, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-aside img {
    display: block;
    width: 100%;
}

.rounded-button {
    position: relative;
    padding: .7rem 1.7rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to right, #FFBA33, #FF8000);
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
}

.rounded-button:after {
    content: "";
    position: absolute;
    top: .2rem;
    left: .25rem;
    right: .25rem;
    bottom: .25rem;
    border: 1px solid white;
    border-radius: 2rem;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
