
.icon-against-wall:before { content: '\e800'; } /* '' */
.icon-balance:before { content: '\e801'; } /* '' */
.icon-bike:before { content: '\e802'; } /* '' */
.icon-bottle:before { content: '\e803'; } /* '' */
.icon-complement:before { content: '\e804'; } /* '' */
.icon-energy:before { content: '\e805'; } /* '' */
.icon-family:before { content: '\e806'; } /* '' */
.icon-healthy-food:before { content: '\e807'; } /* '' */
.icon-hobbies:before { content: '\e808'; } /* '' */
.icon-mind:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-rest:before { content: '\e80b'; } /* '' */
.icon-stop:before { content: '\e80c'; } /* '' */
.icon-training-arms-1:before { content: '\e80d'; } /* '' */
.icon-training-arms-2:before { content: '\e80e'; } /* '' */
.icon-training-arms-3:before { content: '\e80f'; } /* '' */
.icon-training-legs:before { content: '\e810'; } /* '' */
.icon-training:before { content: '\e811'; } /* '' */
.icon-yoga-2:before { content: '\e812'; } /* '' */
.icon-yoga:before { content: '\e813'; } /* '' */
