.hero {
  background-image: url(../assets/woman-take-complement.png);
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.text-box > * {
  padding: 5rem;
}

.text-box > .content {
  height: auto;
}

.text-box > img {
  display: inline-block;
  padding: 0;
  width: 240px;
}

.box-aside {
  background: none;
}

.box-aside .text-box.align-left {
  flex-shrink: 1;
}

.box-aside .text-box.align-right {
  flex-shrink: 2;
}

.wide-image {
  padding: 0;
}

.wide-image .box-aside {
  padding: 0;
  background: none;
}
.wide-image .box-aside img {
  width: 100%;
}

.gray-block.text-box {
  padding: 0;
}

.gray-block.wide-image .main-content {
  flex-grow: .8;
  text-align: left;
}

dl.arrow-list {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #808085;
}

dl.arrow-list dt {
  position: relative;
  text-transform: uppercase;
}

dl.arrow-list dt:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -47%);
  width: 106px;
  height: 180px;
}

dl.arrow-list dt:nth-child(1):before {
  background-image: url(../assets/left-blue-icon-1.png);
}

dl.arrow-list dt:nth-child(3):before {
  background-image: url(../assets/left-purple-icon-2.png);
}

dl.arrow-list dt:nth-child(5):before {
  background-image: url(../assets/left-red-icon-3.png);
}

dl.arrow-list dt:nth-child(7):before {
  background-image: url(../assets/left-orange-icon-4.png);
}

dl.arrow-list dd {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
}

.especialized-nutrition {
  width: 90%;
  margin: auto;
}

.content.circles article h3 {
  text-align: center;
}

.circles .circle.big {
  margin: 1rem;
}

.circles .circle.big .inner-circle {
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circles .circle.big .inner-circle img {
  display: block;
  top: 0;
  width: auto;
  height: 100%;
}