@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/Brandon_reg.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/Brandon_med.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/Brandon_bld.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/brandon-grotesque-regular-italic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/brandon-grotesque-black.otf);
  font-weight: bold;
  font-style: black;
}

* {
  box-sizing: border-box;
  font-family: "Brandon Grotesque";
}

body > iframe {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3 {
  margin: 0;
  margin-bottom: 1em;
}

sub {
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

.text-center {
  display: block;
  text-align: center;
}

.mb-3 {
  margin-bottom: 3rem;
}

.text-black {
  color: black !important;
  background: none !important;
  -webkit-text-fill-color: black!important;
}

.main-container {
  width: 100%;
}

.hero {
  background-image: url(../assets/gimnasia_1.png);
  background-size: 140%;
  background-position: -20rem -12rem;
  height: 470px;
  padding: 6rem;
}

.main-title {
  width: 50%;
  margin: 0;
  color: #032937;
  font-size: 5rem;
  font-weight: black;
  line-height: 5rem;
  text-transform: uppercase;
}

.text-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.text-box > * {
  flex: 1;
  flex-grow: 1;
  padding: 6rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  text-transform: uppercase;
  background: rgb(0,130,203);
  background: linear-gradient(90deg, rgba(28,162,226,1) 0%, rgba(55,99,237,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #87868C;
  font-weight: normal;
}

.box-aside {
  background-image: url(../assets/gota_1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-box {
  width: 23rem;
  height: 20rem;
  padding: 2.5rem 1.8rem;
  background: white;
  border-radius: 3rem;
  box-shadow: -7px 7px 13px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.square-box .box-text {
  margin: 0;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.1rem;
  color: #335BDA;
}

.video-box {
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 0;
  border-radius: 2.5rem;
}

.video-box > a {
  position: relative;
  text-decoration: none;
}

.video-box > a:after {
  content: "";
  color: rgba(255,255,255,.5);
  font-family: "fontello";
  font-size: 4rem;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-box > a > img {
  display: block;
  width: 100%;
}

.content-box > * {
  padding: 0 6rem;
  margin-bottom: 3rem;
}

.image-wide {
  flex-direction: column;
}

.image-wide > * {
  padding: 0 6rem;
}

.image-wide p, .image-wide h2, .image-wide h3 {
  margin: 0;
}

.img-container {
  margin-top: 3rem;
}

.img-container img {
  display: block;
  width: 100%;
  border-radius: 4rem;
}

.gradient {
  margin: 0;
  background: rgb(0,130,203);
  background: linear-gradient(90deg, rgba(115,38,254,1) 0%, rgba(255,106,57,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}

.actions-box {
  padding: 0 6rem 0;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.rounded-button {
  position: relative;
  padding: .7rem 1.7rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to right, #FFBA33, #FF8000);
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  box-shadow: -5px 5px 10px rgba(0,0,0,.25);
}

.rounded-button:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px solid white;
  border-radius: 2rem;
}

.gray-block {
  background-color: #EFEFEF;
  text-align: center;
  padding: 3rem;
  margin-bottom: 5rem;
}

.content.circles {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.circles .circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.circles .circle.small {
  width: 180px;
  height: 180px;
  margin: 1.5rem;
}

.circles .circle .inner-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:
    -1px 1px 1px rgba(0,0,0,.01),
    -2px 2px 1px rgba(0,0,0,.01),
    -3px 3px 1px rgba(0,0,0,.01),
    -4px 4px 1px rgba(0,0,0,.01),
    -5px 5px 1px rgba(0,0,0,.01),
    -6px 6px 1px rgba(0,0,0,.01),
    -7px 7px 1px rgba(0,0,0,.01),
    -8px 8px 1px rgba(0,0,0,.01),
    -9px 9px 1px rgba(0,0,0,.01),
    -10px 10px 1px rgba(0,0,0,.01),
    -11px 11px 1px rgba(0,0,0,.01),
    -12px 12px 1px rgba(0,0,0,.01),
    -13px 13px 1px rgba(0,0,0,.01),
    -14px 14px 1px rgba(0,0,0,.01),
    -15px 15px 1px rgba(0,0,0,.01),
    -16px 16px 1px rgba(0,0,0,.01),
    -17px 17px 1px rgba(0,0,0,.01),
    -18px 18px 1px rgba(0,0,0,.01),
    -19px 19px 1px rgba(0,0,0,.01),
    -20px 20px 1px rgba(0,0,0,.01),
    -21px 21px 1px rgba(0,0,0,.01),
    -22px 22px 1px rgba(0,0,0,.01),
    -23px 23px 1px rgba(0,0,0,.01),
    -24px 24px 1px rgba(0,0,0,.01),
    -25px 25px 1px rgba(0,0,0,.01),
    -26px 26px 1px rgba(0,0,0,.01),
    -27px 27px 1px rgba(0,0,0,.01),
    -28px 28px 1px rgba(0,0,0,.01),
    -29px 29px 1px rgba(0,0,0,.01),
    -30px 30px 1px rgba(0,0,0,.01),
    -31px 31px 1px rgba(0,0,0,.01),
    -32px 32px 1px rgba(0,0,0,.01),
    -33px 33px 1px rgba(0,0,0,.01),
    -34px 34px 1px rgba(0,0,0,.01),
    -35px 35px 1px rgba(0,0,0,.01),
    -36px 36px 1px rgba(0,0,0,.01),
    -37px 37px 1px rgba(0,0,0,.01),
    -38px 38px 1px rgba(0,0,0,.01),
    -39px 39px 1px rgba(0,0,0,.01),
    -41px 41px 1px rgba(0,0,0,.01),
    -42px 42px 1px rgba(0,0,0,.01),
    -43px 43px 1px rgba(0,0,0,.01),
    -44px 44px 1px rgba(0,0,0,.01),
    -45px 45px 1px rgba(0,0,0,.01),
    -46px 46px 1px rgba(0,0,0,.01),
    -47px 47px 1px rgba(0,0,0,.01),
    -48px 48px 1px rgba(0,0,0,.01),
    -49px 49px 1px rgba(0,0,0,.01),
    -50px 50px 1px rgba(0,0,0,.01);
}

.circles .circle.small .inner-circle {
  width: 120px;
  height: 120px;
}

.token-circle {
  display: flex;
  width: 200px;
  margin: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.token-circle .circle .inner-circle {
  background: radial-gradient(circle at center, #FFF, #F0F0F0);
}

.token-circle .token-point {
  display: block;
  width: 20px;
  height: 20px;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  margin: .5rem 0 1rem;
}

.token-circle .token-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #87868C;
  margin: 0;
}
.token-text sub {
  white-space: nowrap;
}

.bg-gradient-1, .bg-gradient-1 i, .bg-gradient-1 span {
  background: linear-gradient(to right, #8701F2, #B700D3, #B901D2);
}

.bg-gradient-2, .bg-gradient-2 i, .bg-gradient-2 span {
  background: linear-gradient(to right, #C201CD, #E501B4, #F500A9);
}

.bg-gradient-3, .bg-gradient-3 i, .bg-gradient-3 span {
  background: linear-gradient(to right, #F803A4, #FE2F75, #FF3172);
}

.bg-gradient-4, .bg-gradient-4 i, .bg-gradient-4 span {
  background: linear-gradient(to right, #FE3570, #FE6341, #FF683C);
}

.bg-gradient-5, .bg-gradient-5 i {
  background: linear-gradient(to right, #00BCE5, #1595E1);
}
.token-circle .circle.bg-gradient-5 .inner-circle {
  border: 10px solid #476BFD;
}
.token-circle .token-point.border-color-5 {
  border-color: #00BCE5;
}

.bg-gradient-6, .bg-gradient-6 i {
  background: linear-gradient(to right, #237ADF, #3C58DD);
}
.token-circle .circle.bg-gradient-6 .inner-circle {
  border: 10px solid #306DF1;
}
.token-circle .token-point.border-color-6 {
  border-color: #237ADF;
}

.bg-gradient-7, .bg-gradient-7 i {
  background: linear-gradient(to right, #5B4FE3, #8642EB);
}
.token-circle .circle.bg-gradient-7 .inner-circle {
  border: 10px solid #583AFF;
}
.token-circle .token-point.border-color-7 {
  border-color: #5B4FE3;
}

.bg-gradient-8, .bg-gradient-8 i {
  background: linear-gradient(to right, #A439EF, #B82BB4);
}
.token-circle .circle.bg-gradient-8 .inner-circle {
  border: 10px solid #C546C3;
}
.token-circle .token-point.border-color-8 {
  border-color: #A439EF;
}

.bg-gradient-9, .bg-gradient-9 i {
  background: linear-gradient(to right, #C32596, #D7175C);
}
.token-circle .circle.bg-gradient-9 .inner-circle {
  border: 10px solid #ED3346;
}
.token-circle .token-point.border-color-9 {
  border-color: #C32596;
}

.bg-gradient-10, .bg-gradient-10 i {
  background: linear-gradient(to right, #E50D34, #ED4121);
}
.token-circle .circle.bg-gradient-10 .inner-circle {
  border: 10px solid #EC7844;
}
.token-circle .token-point.border-color-10 {
  border-color: #E50D34;
}

.bg-gradient-11, .bg-gradient-11 i {
  background: linear-gradient(to right, #F46716, #FD9C05);
}
.token-circle .circle.bg-gradient-11 .inner-circle {
  border: 10px solid #FF7425;
}
.token-circle .token-point.border-color-11 {
  border-color: #F46716;
}

.inner-circle > i {
  font-size: 4rem;
}

.inner-circle > span {
  font-size: 1.5rem;
  position: relative;
  top: -1rem;
}

.inner-circle > i, .inner-circle > span {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.space {
  text-align: center;
  margin-bottom: 5rem;
}

.elipsis:after {
  content: "...";
  font-size: 6rem;
  letter-spacing: .5rem;
}

.gradient.elipsis:after {
  background: #7300FF;
  background: linear-gradient(to right, #7300FF, #FF00A2, #FF7530);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer.text-box {
  padding: 0;
  margin: 0;
}
footer.text-box .logo > img {
  display: block;
  width: 100%;
}
footer.text-box .slogan {
  text-align: left;
}
